<div class="footer" style="background: linear-gradient(180deg,rgb(112, 112, 112), #444);">
    <div class="row">
        <div class="column">
            <label style="display:flex; padding-top: 20px; padding-left: 20px; color: burlywood;">Organiza</label>
            <label style="display:flex; padding-top: 20px; padding-left: 20px; color: darkkhaki;"><strong>Roach Room</strong></label>
            <label style="display:flex; padding-top: 20px; padding-left: 20px; color: burlywood;">Colabora</label>
            <label style="display:flex; padding-top: 20px; padding-left: 20px;"><strong><a href="https://www.sedavi.es/" target="_blank" style="color: darkkhaki;">Ajuntament Sedavi</a></strong></label>
        </div>
        <div class="column">
            <label style="display:flex; padding-top: 20px; padding-left: 20px; color: burlywood;">Patrocina</label>
            <div class="row">
                <div class="column2">
                    <label style="display:flex; padding-top: 20px; padding-left: 20px;"><strong><a href="https://homoludicus-valencia.org/" target="_blank" style="color: darkkhaki;">Homoludicus Valencia</a></strong></label>        
                </div>
                <div class="column2">
                    <label style="display:flex; padding-top: 20px; padding-left: 20px; color: midnightblue;"><strong><a href="https://www.juegamestore.es/" target="_blank" style="color: darkkhaki;">JuegameStore</a></strong></label>
                </div>
            </div>
        </div>
      </div>
</div>

