<section class="topbar">
    <div class="logo">
        <a href="#"><img src="../../../../assets/img/logo.png"></a>
    </div>
    <span class="title">Jornadas lúdicas de Roach Room</span>
    <div class="logoRoach">
        <img src="../../../../assets/img/LogoRoach.png">
    </div>
</section>
<br><br><br>
<nav class="menu">
    <ul>
        <li><a [routerLink]="['portada']" routerLinkActive="active">Portada</a></li>
        <li><a [routerLink]="['noticias']" routerLinkActive="active">Noticias</a></li>
        <li><a [routerLink]="['registrate']" routerLinkActive="active">Preinscribete</a></li>
        <li><a>Agenda</a></li>
        <li><a [routerLink]="['contenido']" routerLinkActive="active">Actividades</a></li>
        <li><a>Contacto</a></li>


    </ul>

</nav>
