<main>
  <h1 class="titulo" style="padding-left: 150px;">Actividades</h1>
  <div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Rol">
        <app-rol></app-rol>

      </mat-tab>
      <mat-tab label="Demostraciones">
        <app-demos></app-demos>
      </mat-tab>
      <mat-tab label="Torneos">
        <app-torneos></app-torneos>
      </mat-tab>
    </mat-tab-group>
  </div>

  <br>
  <div class="container bottom">
    <app-footer></app-footer>
  </div>
</main>
