<main>
    <div class="container">
        <img src="../../../../assets/img/cartel.jpg" style="float: left; padding-right: 20px; padding-bottom: 10px;" width="500px" >
        <br><br><br><br><br><br><br><br><br>
        <h1 style="text-align: center; color: #848484; font-size: 24px; font-weight: 700; letter-spacing: 1.7px;">Instituto Educacion Secundaria SEDAVI</h1>
        <br>
        <h1 style="text-align: center; color: #848484; font-size: 24px; font-weight: 700; letter-spacing: 1.7px;">28 y 29 de Octubre de 10 a 20 horas</h1>
        <br>
        <div class="field 100 text-center">
          <button class="middle" style="background: black; color: whitesmoke;" (click)="goToInscribete()">Inscribete a las jornadas</button>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container bottom">
      <app-footer></app-footer>
    </div>
</main>

